.circle_text{
  dominant-baseline: middle;
  text-anchor: middle;
  fill: white;
  font-size: 2.5em;
  font-family: serif;
}

.axes_label{
  dominant-baseline: middle;
  text-anchor: middle;
  fill: black;
  font-size: 0.8em;
  font-family: serif;
}

body{
  margin: 0px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.heading_archive{
  font-family: monospace;
  margin-top: 8%;
  font-size: 2em;
  -webkit-text-fill-color: gray;
}

.label{
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 1.3em;
}
